@import "modern-normalize/modern-normalize.css";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: #f8fafc;
  color: #0f172a;
}

#root {
  min-height: 100dvh;
}